<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <titile>Chat Page</titile>
</head>
<body>
    <h1>Welcome to chat room {{sender}} & {{receiver}}</h1>
    <div id="messages">
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
<script>
    const socket = io.connect('http://127.0.0.1:5000');
    // const session_id = Math.random().toString(36).slice(0,10)
    socket.on('connect', async function(){
        // const sender = {{c}}
        const session_id = await fetch(`/get_session?sender=${{sender}}&receiver=${{receiver}}`).then(res=>res.json()).then(data=>data)
        console.log('session_id ' + session_id)

        socket.emit('join_session',{
            sender: '{{sender}}',
            session_id: session_id,
            receiver: '{{receiver}}',
        });
        // const res = await fetch(`/get_message/${data}`)
        // socket.emit('join_session',{

        //     sender: '{{sender}}',
        //     session_id: session_id,
        //     receiver: '{{receiver}}',
        // });
        // let message_input=document.getElementById('message_input')
        // document.getElementById('message_input_form').onsubmit = function (e){
        //     e.preventDefault();
        //     let message = message_input.value.trim();
        //     if (message.length){
        //         socket.emit('send_message', {
        //             sender: '{{sender}}',
        //             session_id: session_id,
        //             receiver: '{{receiver}}',
        //             message: message
        //         })
        //         message_input.value = '';
        //         message_input.focus();
        //     }
        // }
    });
    socket.on('receive_message', async function(data){
        // const res = await fetch(`/get_message/${data['room']}`).then(res=>res.json()).then(data=>data)
        // console.log(res)
        // const message = res;
        const newNode = document.createElement('div')
        // newNode.innerHTML = `<b>${message['sender_id']}:&nbsp;</b>${message['message']}` 
        newNode.innerHTML = "<p>there's new message</p>"
        document.getElementById('messages').appendChild(newNode)
    });
    // socket.on('join_room_announcement', function(data){
    //     // alert('')
    //     console.log(data);
    //     const newNode = document.createElement('div')
    //     newNode.innerHTML = `<b>${data.username}</b> has join the room`
    //     document.getElementById('messages').appendChild(newNode)
    // })
</script>
</html>